.loading {
  width: 100%;
  height: 150px;
  display: grid;
  place-items: center;
  max-width: 100%;

  span {
    width: 10vmax;
    height: 10vmax;
    margin: auto;
    border-bottom: 5px solid rgba($color: var(--black-color), $alpha: 0.719);

    border-radius: 50%;

    animation: loadingRotate 800ms linear infinite;
  }
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
