.faqs {
  padding: 100px 0;
  background-color: var(--white-color);

  h2 {
    text-align: center;
  }
}

.container {
  align-items: flex-start;
}

.faqContainer {
  max-width: 900px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq {
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(49, 88, 138, 0.5);
  background-color: var(--white-color);
}

.faqTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 20px 25px;
  cursor: pointer;

  h3 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
  }
}

.faqContent {
  overflow: hidden;
  transition: all 0.2s ease;

  p {
    padding: 20px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
  }
}

.open {
  border-top: 1px solid rgba(49, 88, 138, 0.5);
  transition: all 0.3s ease;
}

.plusIcon {
  font-size: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.rotate {
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
