.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  h4 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
  }
}

.profile_image {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  overflow: hidden;

  span {
    position: absolute;
    right: 5px;
    bottom: -5px;
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 50%;
    display: grid;

    svg {
      margin: auto;
    }

    &:hover {
      background-color: var(--lightGray-color);
    }
  }
}
