.profile {
  width: 100%;
  padding-top: 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .left {
    display: block;

    h2 {
      font-size: 32px;
      line-height: 45px;
      font-weight: 800;
      background: linear-gradient(
        135deg,
        #b16cea 20%,
        #ff5e69 60%,
        #ff8a56 80%,
        #ffa84b 90%
      );
      background-clip: text;
      color: transparent;
    }

    h3 {
      font-size: 20px;
      line-height: 25px;
      font-weight: 600;
    }
    p {
      margin-top: 8px;
    }
  }

  .right {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.activeChatsSection {
  margin-top: 80px;

  .activeChatsContainer {
    margin-top: 25px;
    display: flex;
    gap: 25px;
    align-items: flex-start;
  }
}

.activeOrdersSection {
  margin-top: 60px;
  margin-bottom: 80px;

  .activeOrdersContainer {
    margin-top: 10px;
  }

  .orderBox {
    overflow: hidden;

    img {
      position: relative !important;
      object-fit: cover;
      height: 200px !important;
      border-radius: 8px;
    }

    header {
      margin-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 8px;

      img {
        border-radius: 50%;
        border: 1px solid var(--primary-color);
        height: 50px !important;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      margin: 4px 0;

      p {
        margin-top: 0;
      }
    }
  }
}
