.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 0 10px;
}

.modalContent {
  background-color: var(--white-color);
  padding: 0 20px 20px 20px;
  border-radius: 4px;
  position: relative;
  max-width: 850px;
  width: 95%;
  height: calc(100vh - 50px);
  overflow-y: auto;
  flex: 1;
}

.modalHeader {
  border-bottom: 1px solid var(--lightGray-color);
  padding: 15px 0;
  position: sticky;
  top: 0;
  background-color: var(--white-color);

  h3 {
    text-align: center;
  }
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}
