.sideMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;
}

.sideMenuContainerHover {
  width: 50%;
  z-index: 100;

  .sideMenu {
    width: auto;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to right, var(--gray-color), transparent);
    z-index: -1;
  }

  li span {
    display: block;
    transform: translate(0px) !important;
    pointer-events: all !important;
    opacity: 1 !important;
    transition: all 0.3s ease;
  }
}

.sideMenu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 1rem;

  li {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    overflow: hidden;

    svg {
      transition: all 0.3s ease;
    }

    &:hover {
      svg {
        transform: scale(1.02);
        transition: all 0.3s ease;
      }

      span {
        font-size: 20px;
        transform: translate(2px, -2px);
        transition: all 0.3s ease;
      }
    }

    span {
      display: none;
      transform: translate(-20px);
      pointer-events: none;
      opacity: 0;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &:hover {
    li span {
      color: var(--black-color);
      display: block;
    }
  }
}
