.buttonTag {
  background-color: var(--lightGray-color);
  color: var(--black-color);
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  width: max-content;
  display: flex;
  gap: 5px;
  align-items: center;
}
